

<div class="card my-5">
    <div class="card-body">
        <button (click)='restartTimer()'>Restart</button>
        <button (click)='startTimer()'>Play</button>
        <button (click)='pauseTimer()'>Pause</button>
    </div>
</div>
<canvas #canvas width="800" height="800"></canvas>