<div class="card my-5">
    Select one of the available games:
    <div class="row" style="padding: 0.5em;">
        <div class="col-md-6">
            <select [(ngModel)]="selectedGame" (ngModelChange)="changeSelectedGame()" class="btn-block">
                <option *ngFor="let gameStatus of gameStatusList; index as i" value="{{i}}">
                        {{gameStatus.gameName}}
                </option>
            </select>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-block" (click)="viewTheGame();"> View the game</button>
        </div>
    </div>
    <div class="row" style="padding: 0.5em;">
        <div class="col-md-12 ">
            <button type="button" class="btn btn-secondary btn-block" (click)="refreshGameList();"> Refresh game list</button>

        </div>
    </div>
</div>

<div class="card my-5">
    <div class="row" style="padding: 0.5em;">
        <div class="col-md-3">
            <label for="newGameDisplayName" style="padding-right: 1em">Name of the new game:</label>
            <input type="text" [(ngModel)]="newGameDisplayName" name="newGameDisplayName"  #name="ngModel" />
        </div>
        <div class="col-md-3">
            <label for="newGameMaxPlayers" style="padding-right: 1em">Max players:</label>
            <input type="text" [(ngModel)]="newGameMaxPlayers" name="newGameMaxPlayers"  #name="ngModel" />
        </div>
        <div class="col-md-2">
            <p></p>
            <button type="button" class="btn btn-primary btn-block" (click)="createNewGame();"> Create new game</button>
        </div>
        <div class="col-md-4">
            <p>Game ID: "{{newGameId}}"</p>
            <p>Game adminID: "{{newGameAdminId}}"</p>
        </div>
    </div>

</div>
